{% extends "base.html" %}
{% block style %}
  
{% endblock %}
{% block content %}
<h1>Signup</h1>
<form action="/register" method="post">
		<div class="row">	
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<label for="username">Username:<input type="text" class="{{uclass}}" name="username" value='{{username}}'/></label><br />
					</div>
					<div class="col-sm-4">
						<p class="error">{{username_error}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Password:<input type="password" class="{{pclass}}" name="password" value='{{password}}'/></label><br />
					</div>
					<div class="col-sm-4">
						<p class="error">{{password_error}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Verify Password:<input type="password" class="{{vpclass}}" name="verpassword" value='{{verpassword}}'/></label><br />
					</div>
					<div class="col-sm-4">
						<p class="error">{{verpassword_error}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Email:<input type="text" class="{{eclass}}" name="email" value='{{email}}'/></label><br />
					</div>
					<div class="col-sm-4">
						<p class="error">{{email_error}}</p>
					</div>
				</div>
				<input type="submit" value="Register"/>
			</div>
		</div>
		
	
</form>
{% endblock %}
